@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif; /* Garante que toda a página use Poppins */
    }

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #2c2c2c;
    color: #eeeeee;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Títulos */
h2, h3 {
    font-weight: 700; /* Usa o peso mais forte da fonte Poppins */
}

h2 {
    color: #007BFF;
    font-size: 1.8rem;
}

h3 {
    color: #007BFF;
    font-size: 1.5rem;
}

header {
    background-color: #D32F2F;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
}

main {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

h2 {
    color: #007BFF;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

h3 {
    color: #007BFF;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.2rem;
    color: #d0d6dc;
    margin-bottom: 10px;
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.cont-z {
    display: flex;
    flex-direction: column;
}

.cont-z label {
    font-weight: bold;
    color: #555;
}

.cont-z input,
.cont-z textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 15px;
}

.obrigatorio {
    font-size: 0.875rem;
    color: #777;
}

.sub-mid {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.sub-mid:hover {
    background-color: #0056b3;
}

.col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    text-align: center;
}

.col ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.col ul li a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.col ul li a:hover {
    color: white;
}

.col .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.col .social-links a {
    font-size: 1.5rem;
    color: #007BFF;
    transition: color 0.3s ease;
}

.col .social-links a:hover {
    color: #0056b3;
}

.tv {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 30px;
    border-bottom: 3px solid red;
    padding-top: 20px;
}

aside {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 100%;
}

ul li a {
    text-decoration: none;
    color: #d0d6dc;
    transition: color 0.3s ease;
    font-size: 1.3rem;
}

ul li a:hover {
    color: #0056b3;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007BFF;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #D32F2F;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffcccb;
}

@media (max-width: 768px) {
    .col {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .col {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}
